      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/toastJS/jquery.toast.min.css" type="text/css">

      <link rel="stylesheet" href="/select2/select2.min.css" type="text/css">
      <link rel="stylesheet" href="/select2/select2-bootstrap.min.css" type="text/css">

      <link rel="stylesheet" href="/css/navbar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/letra.min.css" type="text/css">
      <link rel="stylesheet" href="/css/products.min.css" type="text/css">
      <link rel="stylesheet" href="/css/desk.min.css" type="text/css">
      <link rel="stylesheet" href="/css/modal.min.css" type="text/css">

   </head>

	<body>
      {{> loader}}
      {{> navbarC}}

      <div class="contentView">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="lettersTittle">
                     <span>M</span>
                     <span>E</span>
                     <span>S</span>
                     <span>A</span>
                     <span>S</span>
                  </div>
               </div>
            </div>

            <div class="row mb-4">
               <div class="col-md-12">
                  <button type="button" class="btnGeneral btnRModal" onclick="openModal();">
                     <i class='bx bx-add-to-queue bx-tada' ></i>
                     Separar
                  </button>
               </div>
            </div>

            <div class="row">
               <div class="col-md-4 mb-3">
                  <section class="card">
                     <div class="icon">
                        <img src="/img/desk.png" alt="Shop here.">
                     </div>
                     <div class="tittle_card">
                        Mesa #1
                     </div>
                     <div class="code">
                        589625
                     </div>
                     
                     <div class="btnS">
                        <button type="button" class="btnS__all edit" onclick="openModal();">
                           <i class='bx bx-edit-alt ' ></i>
                        </button>
                        <button type="button" class="btnS__all delete" onclick="openModal();">
                           <i class='bx bx-trash ' ></i>
                        </button>
                        <button type="button" class="btnS__all list" onclick="openModal();">
                           <i class='bx bx-file-find ' ></i>
                        </button>
                        <button type="button" class="btnS__all pdf" onclick="openModal();">
                           <i class='bx bxs-file-pdf ' ></i>
                        </button>
                     </div>
                  </section>
               </div>

               <div class="col-md-4 mb-3">
                  <section class="card">
                     <div class="icon">
                        <img src="/img/desk.png" alt="Shop here.">
                     </div>
                     <div class="tittle_card">
                        Mesa #1
                     </div>
                     <div class="code">
                        589625
                     </div>
                     
                     <div class="btnS">
                        <button type="button" class="btnS__all edit" onclick="openModal();">
                           <i class='bx bx-edit-alt ' ></i>
                        </button>
                        <button type="button" class="btnS__all delete" onclick="openModal();">
                           <i class='bx bx-trash ' ></i>
                        </button>
                        <button type="button" class="btnS__all list" onclick="openModal();">
                           <i class='bx bx-file-find ' ></i>
                        </button>
                        <button type="button" class="btnS__all pdf" onclick="openModal();">
                           <i class='bx bxs-file-pdf ' ></i>
                        </button>
                     </div>
                  </section>
               </div>

               <div class="col-md-4 mb-3">
                  <section class="card">
                     <div class="icon">
                        <img src="/img/desk.png" alt="Shop here.">
                     </div>
                     <div class="tittle_card">
                        Mesa #1
                     </div>
                     <div class="code">
                        589625
                     </div>
                     
                     <div class="btnS">
                        <button type="button" class="btnS__all edit" onclick="openModal();">
                           <i class='bx bx-edit-alt ' ></i>
                        </button>
                        <button type="button" class="btnS__all delete" onclick="openModal();">
                           <i class='bx bx-trash ' ></i>
                        </button>
                        <button type="button" class="btnS__all list" onclick="openModal();">
                           <i class='bx bx-file-find ' ></i>
                        </button>
                        <button type="button" class="btnS__all pdf" onclick="openModal();">
                           <i class='bx bxs-file-pdf ' ></i>
                        </button>
                     </div>
                  </section>
               </div>

               <div class="col-md-4 mb-3">
                  <section class="card">
                     <div class="icon">
                        <img src="/img/desk.png" alt="Shop here.">
                     </div>
                     <div class="tittle_card">
                        Mesa #1
                     </div>
                     <div class="code">
                        589625
                     </div>
                     
                     <div class="btnS">
                        <button type="button" class="btnS__all edit" onclick="openModal();">
                           <i class='bx bx-edit-alt ' ></i>
                        </button>
                        <button type="button" class="btnS__all delete" onclick="openModal();">
                           <i class='bx bx-trash ' ></i>
                        </button>
                        <button type="button" class="btnS__all list" onclick="openModal();">
                           <i class='bx bx-file-find ' ></i>
                        </button>
                        <button type="button" class="btnS__all pdf" onclick="openModal();">
                           <i class='bx bxs-file-pdf ' ></i>
                        </button>
                     </div>
                  </section>
               </div>

               <div class="col-md-4 mb-3">
                  <section class="card">
                     <div class="icon">
                        <img src="/img/desk.png" alt="Shop here.">
                     </div>
                     <div class="tittle_card">
                        Mesa #1
                     </div>
                     <div class="code">
                        589625
                     </div>
                     
                     <div class="btnS">
                        <button type="button" class="btnS__all edit" onclick="openModal();">
                           <i class='bx bx-edit-alt ' ></i>
                        </button>
                        <button type="button" class="btnS__all delete" onclick="openModal();">
                           <i class='bx bx-trash ' ></i>
                        </button>
                        <button type="button" class="btnS__all list" onclick="openModal();">
                           <i class='bx bx-file-find ' ></i>
                        </button>
                        <button type="button" class="btnS__all pdf" onclick="openModal();">
                           <i class='bx bxs-file-pdf ' ></i>
                        </button>
                     </div>
                  </section>
               </div>
               
            </div>

         </div>
      </div>

      <br>

      <script src="/JQuery/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/imaskJS/imask.min.js"></script>
      <script src="/toastJS/jquery.toast.min.js"></script>

      <script src="/select2/select2.min.js"></script>

      <script src="/js/navbar.min.js"></script>

      {{!-- Modal Mesa --}}
      <div class="modal fade" id="modalMesa" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header modalHeader">
                  {{!-- Header del Modal --}}
               </div>

               <div class="modal-body body__modal" style="padding: 0 1rem; !important">
                  <div class="row mt-3 mb-3">
                     <div class="form-group col-md-12">
                        <label for="" class="required">Categoría</label>
                        <select style="width: 100%" class="form-control" id="categoria" name="categoria" >
                           {{!-- Data --}}
                        </select>
                     </div>

                     <div class="form-group col-md-12">
                        <label for="" class="required">Tipo</label>
                        <input type="text" class="form-control" id="tipoPlato" name="tipoPlato" placeholder="Ingrese el tipo de presa: Ej. Pollo" >
                     </div>

                     <div class="form-group col-md-12">
                        <label for="" class="">Acompañado con</label>
                        <textarea class="form-control textarea" name="acompañadoPlato" id="acompañadoPlato" placeholder="Escribir el nombre del plato principal..." required></textarea>
                     </div>

                     <div class="form-group col-md-12">
                        <label for="" class="required">Precio</label>
                        <input type="text" class="form-control" id="precioPlato" name="precioPlato" placeholder="Ingreses el precio del plato: Ej. 4,50" >
                     </div>

                     <div class="form-group col-md-12">
                        <label for="" class="required">Estado</label>
                        <select class="form-control" id="estado" name="estado">
                           <option class="opt" value="" selected disabled>Seleccionar...</option>
                           <option value="Stock">Stock</option>
                           <option value="Sin Stock">Sin Stock</option>
                           <option value="Not Sale">Not Sale</option>
                        </select>
                     </div>
                  </div>
                  
               </div>

               <div class="modal-footer modalFooter">
                  {{!-- Footer del Modal --}}
               </div>
               
            </div>
         </div>
      </div>

      <script src="/js/validationsFront.min.js"></script>

      <script>
         {{> notifications}}
      </script>