      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/toastJS/jquery.toast.min.css" type="text/css">

      <link rel="stylesheet" href="/css/navbar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/letra.min.css" type="text/css">
      <link rel="stylesheet" href="/css/welcome.min.css" type="text/css">

      <style>
         .contentView {
            height: 100vh;
            margin-bottom: 0 !important;
            top: 0 !important;
            display: flex;
            align-items: center;
         }
      </style>

   </head>

	<body>
      {{> loader}}
      {{> navbarC}}

      <div class="contentView">
         <div class="container justify-content-center">
            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="lettersTittle">
                     <span>B</span>
                     <span>I</span>
                     <span>E</span>
                     <span>N</span>
                     <span>V</span>
                     <span>E</span>
                     <span>N</span>
                     <span>I</span>
                     <span>D</span>
                     <span>O</span>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12 text-center">
                  <img src="/img/atm.png" alt="Welcome ATM" class="img__welcome">
               </div>
            </div>

            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="text__name">
                     {{apellidos}} {{nombres}}
                  </div>
                  <div class="text__privilegio">
                     {{privilegio}}
                  </div>
               </div>
            </div>
         </div>
      </div>

      <script src="/JQuery/jquery.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/toastJS/jquery.toast.min.js"></script>

      <script src="/js/navbar.min.js"></script>

      <script>
         {{> notifications}}
      </script>