      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/toastJS/jquery.toast.min.css" type="text/css">

      <link rel="stylesheet" href="/css/navbar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/letra.min.css" type="text/css">
      <link rel="stylesheet" href="/css/products.min.css" type="text/css">
      <link rel="stylesheet" href="/css/modal.min.css" type="text/css">

   </head>

	<body>
      {{> loader}}
      {{> navbarG}}

      <div class="contentView">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="lettersTittle">
                     <span>R</span>
                     <span>E</span>
                     <span>P</span>
                     <span>O</span>
                     <span>R</span>
                     <span>T</span>
                     <span>E</span>
                     <span>S</span>
                  </div>
               </div>
            </div>

            <div class="row mb-4 d-flex justify-content-between">
               {{!-- <div class="col-md-4 mb-4 text-center">
                  <button type="button" class="btnGeneral btnRModal" onclick="openModal();">
                     <i class='bx bxs-file-pdf' ></i> PDF Ventas
                  </button>
               </div>

               <div class="col-md-4 mb-4 text-center">
                  <button type="button" class="btnGeneral" onclick="openModal();">
                     <i class='bx bxs-file-pdf' ></i> PDF Gastos
                  </button>
               </div> --}}

               <div class="col-md-4 mb-4 text-center">
                  <button type="button" class="btnReporte" onclick="printG();">
                     <i class='bx bxs-report'></i> PDF Gráfico
                  </button>
               </div>
            </div>

            <div class="row mb-4 d-flex justify-content-center">
               <div class="col-md-5">
                  <div class="form-group text-center">
                     <label for="" class="required">Año</label>
                     <select class="form-control" id="anio" name="anio">
                        <option class="opt" value="" selected disabled>Seleccionar...</option>
                        <option value="2022" selected>2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                        <option value="2034">2034</option>
                        <option value="2035">2035</option>
                        <option value="2036">2036</option>
                        <option value="2037">2037</option>
                        <option value="2038">2038</option>
                        <option value="2039">2039</option>
                        <option value="2040">2040</option>
                        <option value="2041">2041</option>
                        <option value="2042">2042</option>
                        <option value="2043">2043</option>
                        <option value="2044">2044</option>
                        <option value="2045">2045</option>
                        <option value="2046">2046</option>
                        <option value="2047">2047</option>
                        <option value="2048">2048</option>
                        <option value="2049">2049</option>
                        <option value="2050">2050</option>
                     </select>
                  </div>
               </div>
            </div>

            <div class="RG">
               <div class="row mb-4">
                  <div class="col-md-12">
                     <canvas id="myChartV" width="400" height="200"></canvas>
                  </div>
               </div>
   
               <div class="row mb-4">
                  <div class="col-md-12">
                     <canvas id="myChartG" width="400" height="200"></canvas>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <br>

      <script src="/JQuery/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/imaskJS/imask.min.js"></script>
      <script src="/toastJS/jquery.toast.min.js"></script>

      <script src="/js/navbar.min.js"></script>
      <script src="/js/validationsFront.min.js"></script>
      <script src="/chartJS/chart.min.js"></script>
      <script src="/js/graphics.min.js"></script>

      <script src="/JSpdf/html2canvas.min.js"></script>
      <script src="/JSpdf/jspdf.debug.js"></script>
      <script src="/JSpdf/jspdf.min.js"></script>

      <script>
         {{> notifications}}

         allVentas();
         allGastos();

         $('#anio').change(e => {
            anio = $('#anio').val();
            allVentas(anio);
            allGastos(anio);
         });

         var element = $(".RG");

         const printG = () => {
            html2canvas(element, {
               scale: 4,  
               dpi: 300,  
               onrendered: function (canvas) {
                  getCanvas = canvas;
                  var imgData = getCanvas.toDataURL("image/jpg",2.0);
                  var doc = new jsPDF({orientation: 'landscape'});
                  doc.addImage(imgData, 'jpeg', 0, 0,298,210);
                  doc.save('reporte.pdf');
               }
            });
         }
         
      </script>