      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/toastJS/jquery.toast.min.css" type="text/css">

      <link rel="stylesheet" href="/css/navbar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/letra.min.css" type="text/css">
      <link rel="stylesheet" href="/css/products.min.css" type="text/css">
      <link rel="stylesheet" href="/css/modal.min.css" type="text/css">

   </head>

	<body>
      {{> loader}}
      {{> navbarG}}

      <div class="contentView">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <div class="lettersTittle">
                     <span>R</span>
                     <span>E</span>
                     <span>P</span>
                     <span>O</span>
                     <span>R</span>
                     <span>T</span>
                     <span>E</span>
                     <span>S</span>
                  </div>
               </div>
            </div>

            <div class="row mb-4 d-flex justify-content-between">
               <div class="col-md-4 mb-4 text-center">
                  <button type="button" class="btnGeneral btnRModal" onclick="openModal();">
                     <i class='bx bxs-file-pdf' ></i> PDF Ventas
                  </button>
               </div>

               <div class="col-md-4 mb-4 text-center">
                  <button type="button" class="btnGeneral" onclick="openModal();">
                     <i class='bx bxs-file-pdf' ></i> PDF Gastos
                  </button>
               </div>

               <div class="col-md-4 mb-4 text-center">
                  <button type="button" class="btnReporte" onclick="openModal();">
                     <i class='bx bxs-report'></i> PDF Gráfico
                  </button>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  
               </div>
            </div>
         </div>
      </div>

      <br>

      <script src="/JQuery/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/imaskJS/imask.min.js"></script>
      <script src="/toastJS/jquery.toast.min.js"></script>

      <script src="/js/navbar.min.js"></script>
      <script src="/js/validationsFront.min.js"></script>

      <script>
         {{> notifications}}
      </script>