<div class="sidebar" id="sidebar">
   <nav class="nav">
      <div>
         <div class="nav__log">
            <img src="/img/parilladaCOCON.png" alt="">
            <span class="nav__icon-text">COCON</span>
         </div>

         <div class="nav__toggle" id="nav__toggle">
            <i class='bx bxs-right-arrow'></i>
         </div>

         {{!-- <div class="nav__search">
            <i class='bx bx-search-alt-2'></i>
            <input type="text" placeholder="Search">
         </div> --}}

         <ul class="nav__list">
            <a href="#" class="nav__link">
               <i class='bx bx-home-alt'></i>
               <span class="nav__text">Dashboard</span>
            </a>
            
            <a href="#" class="nav__link">
               <i class='bx bx-message-dots'></i> 
               <span class="nav__text">Mensajes</span>
            </a>

            <a href="#" class="nav__link">
               <i class='bx bx-notification'></i> 
               <span class="nav__text">Notificacion</span>
            </a>

            <a href="#" class="nav__link">
               <i class='bx bx-calendar'></i>
               <span class="nav__text">Calendario</span>
            </a>

            <a href="#" class="nav__link">
               <i class='bx bx-bar-chart-alt'></i> 
               <span class="nav__text">Estadisticas</span>
            </a>

            <a href="#" class="nav__link">
               <i class='bx bxs-wrench'></i>
               <span class="nav__text">Configuracion</span>
            </a>
         </ul>
      </div>
      <div class="profil">
         <div class="profil__img">
            <img src="/profile/profile.svg" alt="">
         </div>

         <div class="profil__desc">
            <p>Carlos VP</p>
            <a href="#">carlos23@gmail.com</a>
         </div>
      </div>
   </nav>

</div>